.container {
  padding: 25px;
}

.signup input {
  box-sizing: border-box;
  border: 1px solid rgba(228, 228, 228, .6);
  margin: 10px 0;
  padding: 16px 20px;
  height: 50px;
  width: 100%;
  border-radius: 5px;
}

.signup input::placeholder {
  color: #e4e4e4;
}

.signup input[type="text"], input[type="password"] {
  font-size: 13px;
}

.sub-title{
  color: #999999;
}